$accent: #FF6838;
$default: #31352B;
$title: #363853;
$white: #FFFFFF;
$silver-200: #ececec;
$gray:#c2c2c2;
$silver-100: #f9faff;



%Rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%Rubik-600 {
  font-family: 'Rubik-Semi-bold', sans-serif;
  font-weight: 600;
}

%Rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-300 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 300;
}
%Rubik-500 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 500;
}